.page {
  min-height: 100vh;
  background: var(--color-bg);
  display: flex;
  flex-direction: column;
  position: relative;
}

.content {
  margin: 0 auto;
  max-width: var(--size-content);
  padding: var(--space-6) var(--size-gutter);
  width: 100%;
  flex: 1;
}

.contentFull {
  width: 100%;
  max-width: 100%;
  padding: 0;
  flex: 1;
}

@media (max-width: 720px) {
  .content {
    padding: var(--space-5) var(--space-4);
  }
}
